/**/
/*Pour tout/
/**/ 
body{
    height:2000px;
    background-color: linear-gradient(135deg, #FF9D6C 0%, #BB4E75 100%);
} 

/**
Fonts - Police
**/
.pt-mono { 
    font-family: 'PT Mono', sans-serif;  
} 

/*Que pour le conteur du titre*/
.bloc-title{
    /*taille*/
    width: 300px;
    height: 60px; 
    /*position*/ 
    position: relative;
    justify-content: center;
    top:40px; 
    /*Propriété*/
    background-color: #111111;
    border-radius: 10px;
    }

/*Pour le titre*/
.text-title{ 
 /*position*/
position:relative; 
top: 20%; 
 /*taille*/
font-size: 30px;
line-height: 34px;
 /*propriete*/
text-align: center;
color: #FFFFFF;
} 

.centrer-title{ 
    /*position*/ 
    text-align: center; 
    margin : auto; 
    } 
.centrer-image{ 
    /*position*/  
    justify-content: center;  
    margin : auto; 
    } 

.image-emoji{ 
    /*taille*/
    width:100%;
    padding:10px;    
    /*position*/ 
    position: relative;
}  

.image-piano{
    /*taille*/
    width:100%;  
    /*position*/ 
    position: relative; 
}
/*
* Test Piano  
Conteneur- clavier
*/
.Piano{
    /*position*/ 
    margin-top:20px; 
}
.Piano-clavier {
    height: 275px ;
    width: 530px ;
    border-radius: 10px ;
    background-color: black ;
    margin-bottom: 40px ;
    align-items: center ;
    margin: auto; /*m-auto*/
    display: flex; /* flex*/
    flex-direction: column;/*flex-colum*/
}
/*
* Touches blanches
*/
.touche-blanche:nth-child(1) {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ;
    border-radius: 5px 0px 0px 5px ;
}
.touche-blanche:nth-child(7) {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ; 
    border-radius: 0px 5px 5px 0px ; 
}
.touche-blanche {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ;
    margin: 0px 2px ;
}
/*
* Touches noires
*/
.touches-noires {
    width: 500px ;
    margin-top: -250px ;
    align-items: flex-start ;
}
.touche-noire {
    display: flex;
    height: 185px ;
    width: 30px ;
    background-color:#000000 ;
    border-radius: 0px 0px 5px 5px ;
    margin-left: 43px ;
}

.touche-noire:nth-child(1) {
    margin-left: 56px ;
}
.touche-noire:nth-child(2) {
    margin-right: 73px ;
}
.Notes-clavier {
    width: 531px ;
    justify-content: center ;
    padding-bottom: 34px;
    margin:auto; 
    display: flex;
}
.note {
    text-transform: uppercase ;
    width: 73px ;
    color: rgba(255, 255, 255, 0.4) ;
    
}
 
.image-emoji{ 
    display: flex;   
}

/*
*MEDIA : DESCKTOP 
*/
    @media screen and  (min-width:400px )  {
    /*test responsibe
    .text-couleur{
            color: red;  
    }
    */
    .Piano{ 
        /*position*/  
       padding: 10px;
    }  
    .image-emoji{    
        /*position*/  
        margin-top:300px; 
    }  

}
/**/
/*Mobile*/
/*rem le flex resous pas mal de souci mais il faut changer le padding et la hauteur entre titre-emoji de l'aplication*/
/**/
    @media    (min-width:100px ) and (max-width:400px ){
    /*test responsibe
    .text-couleur{
        color: blue;  
    }
    */ 
    .Piano{ 
        /*position*/  
       padding: 1px;/*on change le padding pour que le clavier soit bien accoler*/
    } 
  
    .image-emoji{    
        /*position*/  
        margin-top:100px; /*on change la hauter*/
    }  

}