/**/
/*Pour tout/
/**/ 
body{
    height:2000px;
    background-color: linear-gradient(135deg, #FF9D6C 0%, #BB4E75 100%);
} 

/**
Fonts
**/
.pt-mono { 
    font-family: 'PT Mono', sans-serif;  
} 

/*Que pour le conteur du titre*/
.bloc-title{
    /*taille*/
    width: 300px;
    height: 60px; 
    /*position*/ 
    position: relative;
    justify-content: center;
    top:40px; 
    /*Propriété*/
    background: #111111;
    border-radius: 10px;
    }

/*Pour le titre*/
.text-title{ 
position:relative;

top: 20%; 
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
} 

.centrer-title{ 
    /*position*/ 
        text-align: center; 
        margin : auto; 
    } 
.centrer-image{ 
    /*position*/  
    justify-content: center;  
    margin : auto; 
    } 

.image-emoji{ 
/*taille*/
width:100%;
padding:10px;    
/*position*/ 
position: relative;
margin-top:200px;

} 

.image-piano{
    /*taille*/
    width:100%;  
    /*position*/ 
    position: relative; 
  
}
/*
* Test Piano - pn
*/
.Piano{
    margin-top:10px;
    padding: 1px;
}
.Piano-clavier {
    height: 275px ;
    width: 530px ;
    border-radius: 10px ;
    background: black ;
    margin-bottom: 40px ;
    align-items: center ;
}

.touche-blanche:nth-child(1) {
    height: 250px ;
    width: 70px ;
    background: #FFFFFF ;
    border-radius: 5px 0px 0px 5px ;
}
.touche-blanche:nth-child(7) {
    height: 250px ;
    width: 70px ;
    background: #FFFFFF ; 
    border-radius: 0px 5px 5px 0px ; 
}
.touche-blanche {
    height: 250px ;
    width: 70px ;
    background: #FFFFFF ;
    margin: 0px 2px ;
}
.touches-noires {
    width: 500px ;
    margin-top: -250px ;
    align-items: flex-start ;
}
.touche-noire {
    height: 185px ;
    width: 30px ;
    background: #000000 ;
    border-radius: 0px 0px 5px 5px ;
    margin-left: 43px ;
}

.touche-noire:nth-child(1) {
    margin-left: 56px ;
}
.touche-noire:nth-child(2) {
    margin-right: 73px ;
}
.Notes-clavier {
    width: 531px ;
    justify-content: center ;
    padding-bottom: 34px;
}
.note {
    text-transform: uppercase ;
    width: 73px ;
    color: rgba(255, 255, 255, 0.4) ;
}

/*
*/ 
.touche-blanche:focus {
    background: #FFD12D ;
}
.touche-noire:focus {
    background: #E6016F ;
}
    /*
    *MEDIA : DESCKTOP 
    */
    @media screen and  (min-width:1000px )  {
    /*test responsibe
    .text-couleur{
            color: red;  
    }
    */

    .image-piano{ 
        /*position*/ 
        margin-right: 35%; 
        margin-left:  35%;    
       padding: 10px;
    } 

    .image-emoji{ 
        margin-right: 50%; 
        margin-left: 50%;     
    }

    }
    /**/
    /*Mobile*/
    /**/
    @media    (min-width:100px ) and (max-width:1000px ){
    /*test responsibe
    .text-couleur{
        color: blue;  
    }
    */ 
 
    .image-piano{ 
        /*position*/ 
        margin:0; 
       padding: 10px;
    }

    .image-emoji{ 
        margin-left: 35%;
        margin-right: 35%;     
    }

}