/**/
/*Pour tout/
/**/ 
body{
    height:1000px;
    background-color: linear-gradient(135deg, #FF9D6C 0%, #BB4E75 100%);
} 

/**
Fonts
**/
.pt-mono { 
    font-family: 'PT Mono', sans-serif;  
} 

/*Que pour le conteur du titre*/
.bloc-titre{
    /*taille*/
    width: 300px;
    height: 60px; 
    /*position*/ 
    position: relative;
    justify-content: center;
    top:40px; 
    /*Propriété*/
    background: #111111;
    border-radius: 10px;
    }

/*Pour le titre*/
.text-titre{ 
position:relative;

top: 20%; 
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
} 

.centrer-titre{ 
    /*position*/ 
        text-align: center; 
        margin : auto; 
    } 
.centrer-image{ 
    /*position*/  
    justify-content: center;  
    margin : auto; 
    } 

.image-emoji{ 
/*taille*/
width:100%;
padding:10px;    
/*position*/ 
position: relative;
margin-top:200px;

} 

.image-piano{
    /*taille*/
    width:100%;  
    /*position*/ 
    position: relative; 
  
}

    /*
    *MEDIA : DESCKTOP 
    */
    @media screen and  (min-width:1000px )  {
    /*test responsibe
    .text-couleur{
            color: red;  
    }
    */
 

    .image-piano{ 
        /*position*/ 
        margin-right: 35%; 
        margin-left:  35%;    
       padding: 10px;
    } 

    .image-emoji{ 
        margin-right: 50%; 
        margin-left: 50%;     
    }

    }
    /**/
    /*Mobile*/
    /**/
    @media    (min-width:100px ) and (max-width:1000px ){
    /*test responsibe
    .text-couleur{
        color: blue;  
    }
    */ 
 

    .image-piano{ 
        /*position*/ 
        margin:0; 
       padding: 10px;
    }

    .image-emoji{ 
        margin-left: 35%;
        margin-right: 35%;     
    }
 
 


}