/*CSS que pour le PIANOT
* Test Piano  
Conteneur- clavier
*/
.Piano{
    /*position*/ 
    margin-top:20px; 
}
.Piano-clavier {
    height: 275px ;
    width: 530px ;
    border-radius: 10px ;
    background-color: black ;
    margin-bottom: 40px ;
    align-items: center ;
    margin: auto; /*m-auto*/
    display: flex; /* flex*/
    flex-direction: column;/*flex-colum*/
}
/*
* Touches blanches
*/
.touche-blanches{
    display: flex;/*flex */
    margin-top: 0.75rem;/*mt-3*/
}
.touche-blanche:nth-child(1) {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ;
    border-radius: 5px 0px 0px 5px ;
}
.touche-blanche:nth-child(7) {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ; 
    border-radius: 0px 5px 5px 0px ; 
}
.touche-blanche {
    height: 250px ;
    width: 70px ;
    background-color: #FFFFFF ;
    margin: 0px 2px ;
    color:yellow;
}

.touche-blanche:focus  {
    color:yellow;  
}
/*
* Touches noires
*/
.touches-noires {
    width: 500px ;
    margin-top: -250px ;
    align-items: flex-start ;
    display: flex;
}
.touche-noire {
    display: flex;
    height: 185px ;
    width: 30px ;
    background-color:#000000 ;
    border-radius: 0px 0px 5px 5px ;
    margin-left: 43px ;
}
.touche-noire:nth-child(1) {
    margin-left: 56px ;
}
.touche-noire:nth-child(2) {
    margin-right: 73px ;
}
.touche-blanche:focus  {
    color:red;  
}
/*
*Notes de bas
*/
.Notes-clavier {
    width: 531px ;
    justify-content: center ;
    padding-bottom: 34px;
    margin:auto; 
    display: flex;
}
.note {
    text-transform: uppercase ;
    width: 73px ;
    color: rgba(255, 255, 255, 0.4) ;
    
}
 
.image-emoji{ 
    display: flex;   
}

/**/
/*Mobile*/
/*rem le flex resous pas mal de souci mais il faut changer le padding et la hauteur entre titre-emoji de l'aplication*/
/**/
@media    (min-width:100px ) and (max-width:400px ){
 
    .Piano{ 
        /*position*/  
       padding: 1px;/*on change le padding pour que le clavier soit bien accoler*/
    } 
 
    }  
