/**/
/* Vue Normal - Desktop*/
/**/ 
@media screen and (max-width:1280px){
    /*pour tester media
        .text-couleur{
           color: red;  
       }
    */
       /*Titre Emoji*/
       .bloc-titre{ 
        /*margin*/ 
        }
      /**
       Fonts
       **/
       .pt-mono { 
           font-family: 'PT Mono', sans-serif;
           font-style: normal;
           font-weight: normal;
       } 
   }
   
   
   /**/
   /*Mobile*/
   /**/
    /*pour tester media
        .text-couleur{
           color: red;  
       }
    */
           body{
               background: linear-gradient(135deg, #FF9D6C 0%, #BB4E75 100%);
           } 
    
       .bloc-titre{
   /*taille*/
   width: 300px;
   height: 60px; 
   /*position*/
   position:relative;
   /*marge*/
       left: 0%;
       right: 0%;
       top: 0%;
       bottom: 0%;
       
   
       left: 40px;
       top: 30px;
   
     
    
       background: #111111;
       border-radius: 10px;
       }
       
           .text-texte{
               /*issue figmae*/
               position:relative;
               left: 9%;
               right: 9%;
               top: 21%;
               bottom: 21%; 
               font-size: 30px;
               line-height: 34px;
               /* identical to box height */
               text-align: center;
               color: #FFFFFF;
        
           }
       
    
